# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Logs
*.log

# Unit test / coverage reports
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.env.*

# Python-specific packaging
build/
dist/
*.egg-info/
.eggs/
